{{define "init"}}
<!-- Load Header -->
{{template "header"}}

<body>
    {{template "navbar"}}

    <div class="container py-5">
        <!-- 검색창 -->
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-text" id="btnGroupAddon">Search</div>
            </div>
        </div>

        <!-- 상품 리스트 -->
        <div class="row pt-5">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">카테고리</th>
                        <th scope="col">이름</th>
                        <th scope="col">가격</th>
                        <th scope="col">원가</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{range $item := .products}}
                    <tr>
                        <td>{{$item.Category}}</td>
                        <td>{{$item.Name}}</td>
                        <td>{{$item.Price}}</td>
                        <td>{{$item.Cost}}</td>
                        <td>
                            <a class="badge text-bg-warning" href="/item/{{$item.ID}}">Detail</a>
                            <span class="badge text-bg-danger" onclick="delItem('{{$item.ID}}')">Del</span>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Load Footer -->
    {{template "footer"}}
</body>

<!--add javascript-->
<script src="/assets/js/payhere.js"></script>
<script src="/assets/js/jquery-3.7.1.min.js"></script>

{{end}}