{{define "page"}}

<div class="row text-center pt-3">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" id="pagePrevBtn" href="#">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" id="pageNextBtn" href="#">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{{end}}