{{define "signup"}}
<!-- Load Header -->
{{template "header"}}

<body>
    <div class="container p-5" style="max-width: 50%">
        <form action="/signup" method="POST" onsubmit="return signUpCheck()">
            <div class="pt-3 pb-3">
                <h2 class="section-heading text-center">Sign Up</h2>
            </div>

            <div class="row pb-3">
                <div class=" col">
                    <div class="form-group">
                        <label>휴대폰번호</label>
                        <input type="text" class="form-control" name="id" placeholder="01012345678">
                        <small class="form-text">ID로 사용됩니다. 숫자만 입력해주세요.</small>
                    </div>
                </div>
            </div>

            <div class="row pb-3">
                <div class=" col">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <small class="form-text">대소문자, 숫자, 특수문자 포함, 8자리 이상을 권장합니다.</small>
                    </div>
                </div>
            </div>

            <div class="row pb-3">
                <div class=" col">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Password">
                        <small class="form-text">다시 한 번 패스워드를 입력해주세요.</small>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-5">회원가입</button>
            </div>
        </form>
    </div>

    <!-- Load Footer -->
    {{template "footer"}}
</body>

<!--add javascript-->
<script src="/assets/js/jquery-3.7.1.min.js"></script>
<script src="/assets/js/payhere.js"></script>

{{end}}