{{define "signup-success"}}
<!-- Load Header -->
{{template "header"}}

<body>
    <div class="container py-5">
        <div class="pt-3 pb-5">
            <h2 class="section-heading text-center">Sign Up</h2>
        </div>
        <div>
            <h4 class="text-center">가입이 완료되었습니다. 로그인해주세요.</h4>
        </div>
        <div class="text-center">
            <a href="/signin" class="btn btn-primary mt-5">Login</a>
        </div>
    </div>

    <!-- Load Footer -->
    {{template "footer"}}
</body>
{{end}}